.disclaimer {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 22px; /* Optional: for some spacing */
    padding-top: 14px;
    z-index: 100000000;
    font-family: 'Handjet', monospace;
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}

.disclaimerLink {
    margin-left: 3px;
    text-decoration: underline;
    cursor: pointer;
    pointer-events: all;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s ease-in-out;
}

.disclaimerLink:hover {
    color: rgba(255, 255, 255, 0.7);
}
