.expandedConnectCard{
    width: 100%;
    height: 20px;
    /* max-height: 50vh; */
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.covenantTitle{
    border: 2px solid green;
    width: 100%;
    padding: 6px 20px;
    font-size: 10px;
    
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 14px;
    color: rgb(201, 198, 213);
    text-transform: uppercase;
    font-weight: 500;
}

.covenantEntrySearch{
    flex: 1;
    border: 2px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchText p {
    margin: 0;
    color: rgb(242, 242, 242);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -0.006em;
    /* line-height: 22px; */
    margin-bottom: 10px;
    font-size: 8px;
    animation: fadeIn 1s ease-in-out; /* Added animation */
  }
  

.connectItem{
    font-size: 4px;
    color: rgb(242, 242, 242);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -0.006em;
}

.connectItemTitle{
    font-weight: 600;
}

.connectItemDescription{
    font-weight: 400;
}
