.expandedConnectCard{
    padding: 6px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.covenantTitle{
    border: 2px solid green;
    width: 100%;
    font-size: 10px;
    
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 14px;
    color: rgb(201, 198, 213);
    text-transform: uppercase;
    font-weight: 500;
}


.selectionText p{
    margin: 0;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;


    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    letter-spacing: -0.006em;
    /* margin-bottom: 10px; */
    font-size: 8px;
    line-height: 1.5em;
    max-width: 100%;
}

.editorContentWrapper{
    /* position: relative;
    top: 20px; */
}


.searchText p {
    margin: 0;
    color: rgb(242, 242, 242);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -0.006em;
    /* line-height: 22px; */
    margin-bottom: 10px;
    font-size: 8px;
  }


  .searchText p.isEmpty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    white-space: nowrap;
    background: unset;
    -webkit-background-clip: border-box; /* Default value */
    -webkit-text-fill-color: initial; /* Default value */
    color: rgba(255, 255, 255, 0.5);
    filter: opacity(0.3);
}



/* SELECTION EDITOR */

.covenantEntrySearch{
    position: relative;
    flex: 1;
    border: 2px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectItem{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4px;
    color: rgb(242, 242, 242);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -0.006em;
    border: 2px solid blue;
    height: 10px;
    z-index: 10000000;
    width: 10px;
}

.connectItemTitle{
    font-weight: 600;
}

.connectItemDescription{
    font-weight: 400;
}
