.connectCardContainer {
    /* height: 100%; */
    overflow: hidden;
    overflow-y: scroll;
    white-space: pre-wrap;
    word-wrap: break-word;
    /* max-height: 30%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

}

.connectCardSelection{
    padding-top: 10px;
    width: 100%;
    height: fit-content;
}

.connectToThoughtBox{
    width: 100%;
    flex: 1;
    /* height: 200px; */
}