.container {
    /* pointer-events: none;
    height: fit-content;
    width: fit-content;
    position: relative; */
  }
  
  .shapeContent {
    width: 250px;
    pointer-events: all;
    /* position: relative; */
    box-shadow: 0px 36px 42px -4px rgba(77, 77, 77, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 8px;
  }

  .maskWrapper{
    width: 100%;
    overflow: hidden;
  }

  .headerRow{
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .iconWrapper{

  }

  .userName{
    font-weight: 500;
    font-family: "Inter";
    font-size: 14px;
    color: white;
  }

  .timeStamp{
    font-size: 12px;
    line-height: 16px;
    color: rgb(172, 171, 169);
    font-family: "Inter";
    font-weight: 400;

  }

  .textContent{
    line-height: 20px;
    cursor: text;
    padding: 0px 16px;
  }

/* EFFECTS CSS */
  .ripple {
    border: 1px solid rgba(251, 247, 245, 0.3);
    filter: blur(4px);
    border-radius: 100%;
    box-shadow: 0px 0px 10px 0px rgba(251, 247, 245, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    /* height: 56px;
    width: 56px; */
    pointer-events: none;
  }

  .innerRing{
    border: 2.6px dashed rgba(251, 247, 245, 0.2);
    border-radius: 100%;
    /* height: 56px;
    width: 56px;  */
    position: absolute;
    top: 50%;
    filter: blur(1px);
    left: 50%;
    box-shadow: 0px 0px 10px 0px rgba(251, 247, 245, 0.2);

  }

  
  .outerRing {
    border: 2.6px double rgba(251, 247, 245, 0.2);
    border-radius: 100%;
    /* height: 56px;
    width: 56px;  */
    position: absolute;
    top: 50%;
    left: 50%;
    /* filter: blur(1px); */
    box-shadow: 0px 0px 10px 0px rgba(251, 247, 245, 0.2);
  }

  .innerGlow {
    /* height: 18px;
    width: 18px; */
    border-radius: 100%;
    background-color: rgba(251, 247, 245, 0.6);
    filter: blur(13.66px);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px 0px rgba(251, 247, 245, 0.2);
  }

    /* Placeholder (at the top) */
    .textContent p.is-editor-empty:first-child::before {
      color: pink;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }