.narratorContainer {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}


.narratorContainerInner{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 60px 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.narratorText {
    font-size: 80px;
    color: rgba(255, 255, 255, 1);
    font-family: "Handjet", sans-serif;
    font-weight: 300;
    background: 
        url(/images/cloud-overlay.png) repeat-x center center / cover,
        url(/images/cloud-overlay.png) repeat-x center center / cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100% 100%, 100% 100%;
    animation: cloudLoop 40s linear infinite alternate, cloudLoopReverse 40s linear infinite alternate !important;
    position: relative;
    top: -40px;
}

.narratorContainerDarkening{
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(180, 88, 57, 1), transparent);
}

@keyframes cloudLoop {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -50% 0;
    }
}

@keyframes cloudLoopReverse {
    0% {
        background-position: -50% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.fire {
    font-size: 24px;
    filter: blur(0.02em) opacity(0.3);
    -webkit-filter: blur(0.02em);
    position: absolute; /* Changed to absolute to cover the entire width */
    width: 110%; /* Cover the entire width of the container */
    height: 20vh;
    bottom: -5vh;
    left: 0vw;


}

/* maybe opacity = 0.2 or 0.3 ? */
/* contrast 0.5? */

.particle {
    animation: rise 4s ease-in infinite;
    /* background-image: radial-gradient(rgb(255,80,0) 20%, rgba(255,80,0,0) 70%); */
    background-image: radial-gradient(rgba(255, 81, 0, 1) 20%, rgba(255,80,0,0) 70%);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 5em;
    height: 5em;
    filter: contrast(0.5);
}

@keyframes rise {
    from {
        opacity: 0;
        transform: translateY(0) scale(1);
    }
    25% {
        opacity: 1;

    }
    to {
        opacity: 0;
        transform: translateY(-10em) scale(0);
    }
}