.narratorContainer {
    width: 100%;
    position: fixed;
    height: fit-content;
    bottom: 65%;
    left: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    mix-blend-mode: color;
}


.narratorContainerInner{
    width: 100%;
    position: fixed;
    height: fit-content;
    bottom: 65%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0%, 50%);
    mix-blend-mode: multiply;

}

.narratorText {
    font-size: 60px;
    color: black;
    font-family: "Handjet", serif;
    font-weight: 500;
    background: 
        url(/images/cloud-overlay.png) repeat-x center center / cover,
        url(/images/cloud-overlay.png) repeat-x center center / cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100% 100%, 100% 100%;
    animation: cloudLoop 40s linear infinite alternate !important,
               cloudLoopReverse 40s linear infinite alternate !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.narratorTextRequiresInteraction {
    font-family: "Handjet", serif;
    font-weight: 500;
    font-size: 34px;
    text-transform: uppercase;
    display: block;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

@keyframes cloudLoop {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -50% 0;
    }
}

@keyframes cloudLoopReverse {
    0% {
        background-position: -50% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.darkeningWrapper{
    height: 50vh;
    width: 100%;
    position: absolute;
}

.darkening {
    filter: opacity(0.7);
    position: relative;
    height: 100%;
    width: 100%;
    background: 
    linear-gradient(to top, transparent, rgba(179, 112, 64, 0.5) 50%, transparent), 
    linear-gradient(to bottom, transparent, rgba(255, 140, 0, 0.5) 50%, transparent);
}


