.systemContainer {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}


.systemContainerInner {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 60px 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.systemText {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.4);
    font-family: "Handjet", sans-serif;
    font-weight: 300;
    background: 
        url(/images/cloud-overlay.png) repeat-x center center / cover,
        url(/images/cloud-overlay.png) repeat-x center center / cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100% 100%, 100% 100%;
    animation: cloudLoop 40s linear infinite alternate !important,
               cloudLoopReverse 40s linear infinite alternate !important;
    z-index: 100;
}


.systemContainerDarkening {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}


@keyframes cloudLoop {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -50% 0;
    }
}

@keyframes cloudLoopReverse {
    0% {
        background-position: -50% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.dud {
    color: #757575;
}
