.systemContainer {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}


.systemContainerInner {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 60px 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.systemText {
    font-size: 40px;
    text-align: center;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.4);
    font-family: "Handjet", sans-serif;
    font-weight: 300;
    background: 
        url(/images/cloud-overlay.png) repeat-x center center / cover,
        url(/images/cloud-overlay.png) repeat-x center center / cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100% 100%, 100% 100%;
    animation: cloudLoop 40s linear infinite alternate,
               cloudLoopReverse 40s linear infinite alternate !important;
    z-index: 100;
}


.systemContainerDarkening {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}


@keyframes cloudLoop {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -50% 0;
    }
}

@keyframes cloudLoopReverse {
    0% {
        background-position: -50% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.dud {
    color: #757575;
}

.nextButtonContainerWrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* NEXT BUTTON */
.nextButtonContainer {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Handjet", sans-serif;
    font-weight: 300;
    background: 
        url(/images/cloud-overlay.png) repeat-x center center / cover,
        url(/images/cloud-overlay.png) repeat-x center center / cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 100%, 200% 100%; /* Adjusted background-size */
    animation: cloudLoop 40s linear infinite, 
    cloudLoopReverse 40s linear infinite,
    pulse 4s linear infinite;
    text-align: center;
    z-index: 1000;
    width: 200px;
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0;
    font-size: 24px;
    line-height: 16px;
    height: 24px;
    text-transform: uppercase;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    33.3% {
        transform: scale(1.1);
    }
    66.6% {
        transform: scale(0.9);
    }
}
