.covenantSuperscriptContainer{
    padding: 0em 0.6em;
    position: relative;
}

.covenantSuperscript {
    position: absolute; /* Enable relative positioning for the pseudo-element */
    /* display: inline-block;  */
    top: -14px;
    left: 2px;
    /* margin-right: 0.6em;  */
}

.covenantSuperscriptText {
    font-size: 0.7em; /* Optionally adjust the size */
    color: #b2b3b8;
    font-family: "IBM Plex Mono", sans-serif;
    cursor: pointer;
    font-weight: 800;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.covenantSuperscriptText.active {
    color: white; /* Example: Red color */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), /* Outer glow */
                 0 0 10px rgba(255, 255, 255, 0.6), /* Middle glow */
                 0 0 15px rgba(255, 255, 255, 0.4); /* Inner glow */
}

.covenantSuperscriptText.inactive {
    color: #b2b3b8; /* Example: Green color */
}
