.journalEntry{
    width: 100%;
    height: 200px;
    border: 2px solid blue;
    display: flex;
    box-sizing: border-box;
}

.entrySpecimenOuter{
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid green;
}

.entrySpecimen{
    border: 2px solid orange;
    height: 100%;
    width: 100%;
    position: relative;
}

.entryContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    padding: 20px;
}

.entryTitle{
    font-size: 20px;
    font-weight: bold;
    font-family: "IBM Plex", monospace;
    color: rgba(242, 242, 242, 1);
}

.entryText{
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace;
    color: rgba(242, 242, 242, 1);
}

.animatedContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: visible;
}