.container {
    pointer-events: none;
    height: fit-content;
    width: fit-content;
    position: relative;
}
  
.shapeContent {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: all;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;

    /* background-color: white; */

    /* border: 2px solid pink; */
    background: transparent;
    /* background-image: url('/assets/old-paper.jpg');
    background-size: cover;
    background-position: center; */

    /* Use a pseudo-element to apply the roughness filter */
    position: relative;
    /* overflow: hidden; */
}

.journalPageContainer{
    flex: 1;
    width: 100%;
    z-index: 100;
    mix-blend-mode: multiply;
    max-height: 93%;
}

.shapeContentBackground{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/old-paper.jpg");      
    background-size: cover;
    background-position: center;
    filter: grayscale(0.5);

}

.shapeContentBackground::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: inherit;
    box-sizing: border-box;
    box-shadow: 4px 2px 20px 5px rgba(27, 29, 31, 0.8);

    border-radius: 6px;
    filter: url('./journal-svg-filters/page-roughness.svg#combined');
    pointer-events: none;
    z-index: -1;
}

.outerBorder {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 4px solid rgba(80, 74, 68, 0.5);
    filter: url("./journal-svg-filters/roughness.svg#pencilTexture4");
}

.innerBorder {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border: 2px solid rgba(80, 74, 68, 0.5);
    filter: url("./journal-svg-filters/roughness.svg#pencilTexture4");
}


.crosshatch { 
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg=="); 
    background-repeat: repeat; 
}

.exampleCircle{
    height: 200px;
    border-radius: 100%;
    width: 200px;
    border: 2px solid rgba(80, 74, 68, 0.9);
    filter: url("./journal-svg-filters/roughness.svg#pencilTexture4");

    /* Multiple background layers */
    background-color: rgba(80, 74, 68, 0.5);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczJyBoZWlnaHQ9JzMnPgogIDxyZWN0IHdpZHRoPSczJyBoZWlnaHQ9JzMnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDMgM1pNMCAzTDMgMFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg=="); /* Second layer: specified background image */


    background-repeat: repeat; /* Ensure the image repeats */
    background-blend-mode: overlay; /* Blend the layers */
}

.journalLargeText{
    font-family: "IM Fell DW Pica SC", serif;
	color: rgba(84, 77, 71, 0.9);
	font-size: 3.5rem;
	margin: auto;
	text-align: center;
	font-weight: normal;
    position: relative;
    line-height: 1em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.journalSmallText{
    font-family: "Inknut Antiqua", serif;
	color: rgba(80, 74, 68, 0.9);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.04em;
    font-style: italic;
    margin-bottom: 20px;
}


.animatedCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white; /* Adjust as needed */
    pointer-events: none;
    z-index: -100; /* Ensure it is above other content */
    background-image: url('/assets/journal.jpg');
    background-size: cover;
    background-position: center;
}


/* steps */
/* 1: solid color mask layer */
/* filters -> pixelate -> crystalize */
/* select and mask -> global refinements -> smooth + contrast */
/* color burn blending mode -> change color */
/* apply crystallize twice -> fade crystallize -> screen low value -> opacity of 60%*/
/* apply crystallize again of 60 -> fade crystallize ->  screen high value => opacity of like 10*/
/* apply crystallize again of 5 */

.animatedLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: visible;
}
 