.labelWrapper{
    position: absolute;
    bottom: 60px;
    left: 80px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.constellationGlyph{
    font-family: "Mingzat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4em;

    color: transparent;
    background: linear-gradient(to right, #E7E5ED, #B7B7BD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;

    position: relative;
    top: 16px;
}

.constellationMetadataWrapper{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.metadataRow{
    display: flex;
    gap: 36px;
}

.constellationMetadataLabel{
    font-family: "IBM Plex", sans-serif;
    font-size: 14px;

    color: rgba(231, 229, 237, 1);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3em;
}

.constellationMetadataValue{
    font-family: "IBM Plex", sans-serif;
    font-size: 16px;
    color: #b2b3b8;
    font-weight: 800;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}