.container {
    pointer-events: none;
    height: fit-content;
    width: fit-content;
    position: relative;

  }
  
  .excerptBox{
    height: fit-content;
    width: 400px;
    /* background-color: rgba(22, 53, 81, 0.2);
    box-shadow: 0px 3px 1.39px 0px rgba(0, 0, 0, 0.25); */
    /* border-radius: 8px; */
    /* padding: 16px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .excerptText{
    font-size: 14px;
    font-weight: bold;
    font-family: "Inter";
    letter-spacing: -0.04em;
    color: #EEEEFF;
  }

  .connectionPoint{
    border-radius: 100px;
    background-color: #EEEEFF;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 4px;
  }

  .excerptMediaBox{
    width: 100%;

  }