.container {
    pointer-events: none;
    height: fit-content;
    width: fit-content;
    position: relative;
  }
  
  .excerptBox{
    height: fit-content;
    width: 400px;
    /* overflow-y: scroll; */
    /* transition: width 0.3s ease-in-out; */
    /* background-color: rgba(22, 53, 81, 0.2);
    box-shadow: 0px 3px 1.39px 0px rgba(0, 0, 0, 0.25); */
    /* border-radius: 8px; */
    /* padding: 16px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .excerptText{
    font-size: 14px;
    font-weight: bold;
    font-family: "Inter";
    letter-spacing: -0.04em;
    color: #EEEEFF;
  }

  .connectionPoint{
    border-radius: 100px;
    background-color: #EEEEFF;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
  }

  
  .dashedRing {
    border: 2px dashed rgba(251, 247, 245, 0.2);
    border-radius: 100%;
    height: 40px; /* Adjust size as needed */
    width: 40px;  /* Adjust size as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgba(251, 247, 245, 0.2);
  }

  .excerptMediaBox{
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.2);

  }

  .dashedRing {
    border: 2px dashed rgba(251, 247, 245, 0.2);
    border-radius: 100%;
    height: 20px; /* Adjust size as needed */
    width: 20px;  /* Adjust size as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgba(251, 247, 245, 0.2);
}